/*-----------------------------------------------------------------------------------
	cv et projets
	About: A shiny new Blocs website.
	Author: BIGAND
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFF8;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */
nav .dropdown-menu .nav-link{color:rgba(0,0,0,0.6)!important;} /* Maintain Downdown Menu Link Color in Navigation */
[data-bs-theme="dark"] nav .dropdown-menu .nav-link{color:var(--bs-dropdown-link-color)!important;} /* Maintain Downdown Menu Link Color in Navigation in Darkmode */


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;animation-name: preloader-fade;animation-delay: 2s;animation-duration: 0.5s;animation-fill-mode: both;}
.preloader-complete{animation-delay:0.1s;}
@keyframes preloader-fade {0% {opacity: 1;visibility: visible;}100% {opacity: 0;visibility: hidden;}}

/* = Web Fonts
-------------------------------------------------------------- */

@font-face {
	font-family:'CFScipion-Black';
	src: url('./fonts/CFScipion-Black/CFScipion-Black.woff2');
	src: url('./fonts/CFScipion-Black/CFScipion-Black.woff2') format('woff2'),
	url('./fonts/CFScipion-Black/CFScipion-Black.woff') format('woff'),
	url('./fonts/CFScipion-Black/CFScipion-Black.eot?#iefix') format('embedded-opentype'),
	url('./fonts/CFScipion-Black/CFScipion-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

@font-face {
	font-family:'Poppins-Bold';
	src: url('./fonts/Poppins-Bold/Poppins-Bold.ttf');
	src: url('./fonts/Poppins-Bold/Poppins-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

@font-face {
	font-family:'Poppins-SemiBold';
	src: url('./fonts/Poppins-SemiBold/Poppins-SemiBold.ttf');
	src: url('./fonts/Poppins-SemiBold/Poppins-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-sm{
	padding:20px;
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}
.icon-spacer{
	margin-right:5px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}

/*  Image Scale */
.img-fluid-up{
	min-width: 100%;
	height: auto;
}



.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}
/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}
}
/* = Classic Dividers
-------------------------------------------------------------- */
.divider-h{
	min-height: 1px;
	background-color:rgba(0,0,0,.2);
	margin: 20px 0;
}
.divider-half{
	width: 50%;
}
.dropdown-menu .divider-h{
	margin:0;
}



.carousel-nav-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

.carousel-indicators li::marker{
	font-size:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.blocs-card-width{
	width:25%;
}
.menu-text{
	text-align:center;
	font-weight:normal;
	font-size:18px;
	text-transform:none;
	text-decoration:none;
	color:#828282!important;
	font-family:"CFScipion-Black";
}
.menu-geo{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.h1-style-2{
	font-weight:normal;
	font-size:25px;
	text-align:left;
	color:#121212!important;
	font-family:"Poppins-Bold";
}
.jsp-ptn{
	width:100%;
}
.paragraph-margin{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.h1-style-1{
	text-align:center;
	font-size:25px;
	font-weight:normal;
	color:#121212!important;
	font-family:"Poppins-Bold";
}
.content-bloc-margin{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	width:70%;
}
.welcome-bloc{
	width:40%;
	margin:50px auto 50px auto;
	padding-bottom:0px;
	padding-top:0px;
	font-family:"Poppins-Regular";
}
.social-margin{
	margin-left:auto;
	margin-right:auto;
	width:150px;
}
.h6-style{
	font-size:12px;
}
.menu-text:hover{
	color:var(--swatch-var-7343)!important;
}
.paragraph-text{
	color:#121212!important;
	font-weight:normal;
	font-family:"Poppins-SemiBold";
	font-size:13px;
}
.h2-style{
	font-weight:normal;
	color:#121212!important;
	font-family:"Poppins-Bold";
	font-size:16px;
}
.skills-text{
	font-weight:normal;
	color:rgba(0,0,0,0.54)!important;
	font-size:13px;
	font-family:"Poppins-SemiBold";
}
.intro-bloc-margin{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	width:70%;
}
.p-bloc-4-style{
	font-size:13px;
}
.skill-progress-bar{
	margin-bottom:0px;
	padding-bottom:0px;
	width:70%;
}
.img-style{
	width:327px;
}
.date-edit{
	font-family:"Poppins-SemiBold";
	font-size:13px;
}
.icon-lists{
	color:#000000!important;
}
.p-style{
	font-size:14px;
	font-family:"Poppins-Bold";
}
.p-bloc-12-style{
	font-size:14px;
	font-family:"Poppins-Bold";
}
.p-20-style{
	font-size:14px;
	font-family:"Poppins-Bold";
}
.p-26-style{
	font-size:14px;
	font-family:"Poppins-Bold";
}
.h6-bloc-12-style{
	font-family:"Poppins-Regular";
	font-size:12px;
}
.coding-color{
	color:#F6642C!important;
}
.audio-color{
	color:#579B46!important;
}
.visuals-color{
	color:#5958AD!important;
}
.languages-color{
	color:rgba(255,0,127,0.86)!important;
}
.vcrx-col{
	color:#FFFFFF!important;
}
.btn-music{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	justify-content:center;
	border-width:2px 2px 2px 2px;
	border-radius:30px 30px 30px 30px;
	border-style:solid;
	border-color:transparent!important;
	background-color:#000000;
	color:#FFFFFF!important;
	background-clip:padding-box!important;
	-webkit-background-clip:padding-box!important;
	font-family:"Poppins-SemiBold";
	font-size:13px;
	margin-left:auto;
	margin-right:auto;
}
.btn-icon{
	margin-left:0.3em;
	font-size:1.3em;
}
.btn-music:hover{
	color:#000000!important;
	background-color:#FFFFFF;
	border-width:2px 2px 2px 2px;
	border-radius:30px 30px 30px 30px;
	border-color:#FFFFFF!important;
}
.btn-music-wrapper{
	border-radius:30px 30px 30px 30px;
	background:linear-gradient(90deg, #FF0000  0%, #E226DC 31%, #1E12BC 69%, #FF6E00 100%);
	margin-left:auto;
	margin-right:auto;
	width:25vw;
}
.btn-icon:hover{
	color:#000000!important;
}
.pill-col{
	color:#000000!important;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color:var(--swatch-var-1830);
	border-width:5px 5px 5px 5px;
	border-radius:10px 10px 10px 10px;
	border-style:solid;
	border-color:#FFFFFF!important;
}
.gelati-col{
	background-color:var(--swatch-var-3285);
	border-radius:10px 10px 10px 10px;
	top:0px;
	border-width:5px 5px 5px 5px;
	border-style:solid;
	color:#FFFFFF!important;
	border-color:#000000!important;
}
.bg-text{
	background-color:var(--swatch-var-1830);
	color:var(--swatch-var-3285)!important;
	border-radius:7px 7px 7px 7px;
	margin-left:auto;
	margin-right:auto;
	width:25vw;
	padding:3px 3px 3px 3px;
}
.img-bloc-4-style{
	width:266px;
}
.restricted-h1{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.link-style{
	font-style:italic;
}
.h6-32-style{
	font-size:22px;
}
.h6-33-style{
	font-size:22px;
}
.h6-34-style{
	font-size:22px;
}
.h6-35-style{
	font-size:22px;
}
.carousel-margin{
	max-height:600px;
	max-width:600px;
}
.videos-margin{
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-1830:rgba(255,255,255,1.00);
	
	--swatch-var-7343:rgba(176,176,176,1.00);
	
	--swatch-var-4593:rgba(255,255,255,0.5);
	
	--swatch-var-3285:rgba(0,0,0,1.00);
	
}




/* = Custom Bric Data
-------------------------------------------------------------- */



/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.blocs-card-width{
		width:50%;
	}
	.hi-center{
		margin-left:auto;
		margin-right:auto;
	}
	
}

@media (max-width: 767px){
	.blocs-card-width{
		width:50%;
	}
	
}

@media (max-width: 575px){
	.blocs-card-width{
		width:100%;
	}
	.social-margin{
		width:150px;
	}
	.h1-style{
		width:84.86%;
	}
	.h1-about-style{
		font-size:18px;
	}
	.menu-text{
		font-size:18px;
	}
	.h1-bloc-12-style{
		width:84.86%;
	}
	
}

